<!DOCTYPE html>
<html 
    lang="en" 
    xmlns="https://www.w3.org/1999/xhtml" 
    xmlns:og="https://ogp.me/ns#" 
    xmlns:fb="http://ogp.me/ns/fb#"
>
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="./css/poll-create-form.css">
    <!-- Use this for subpages  <meta property="og:type" content="article" /> -->
    <!-- But use the below one for home page -->
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="https://poll-call.herokuapp.com/" />
    <meta property="og:title" content="PollCall - Create polls & share them with friends - no registration required!" />
    <meta 
        property="og:description" 
        content="PollCall lets you easily create polls and share them for voting - all without logging in. Collect votes & gauge opinions. Come back to check the results of your polls anytime!" 
    /> 
    <!-- suggested size of og:image is 1200x627 -->
    <meta property="og:image" content="https://poll-call.herokuapp.com/img/poll-call-social-img-1200x627.jpg" />
    <!-- <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627"> -->
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:alt" content="PollCall logo and pie graph with colorful wedges" />
    <meta property="og:site_name" content="PollCall">
</head>
<body class="container-md px-0">
<header>
    <%- include('../partials/navbar'); %>    
</header>
<main>
    <div class="jumbotron">
        <h1 class="text-center display-2 heading">PollCall</h1>
        <p class="text-center display-6 mt-sm-1">Easily create and share polls!</p>
        <!-- <p class="text-center">Here's a variable passed from res.render: <%= aVariable %></p> -->
    </div>
    <div style="margin-bottom: 75px;">
        <%- include('../partials/poll-create-form'); %>
    </div>
    <div id="buttonDiv mb-4 d-flex justify-content-center">
        <%- include('../partials/social-buttons',
        {
            shareTitle: "PollCall - Create polls & share them with friends - no registration required!",
            shareUrl: "https://poll-call.herokuapp.com/",
            shareTweet: "Create polls quickly & easily - without having to register or log in - at PollCall!",
            shareSummary: "PollCall lets you create a poll and share it easily - all without registering or logging in.",
            shareHashtags: "#poll, #survey, #social, #vote, #graphs, #fun",
            shareHeading: "Like PollCall? Share it with your friends below!"
        }); 
        %>
        
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
    
    <!-- specifically in index.ejs I used this -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <!-- And here's this pages client JS -->
    <script src="./js/poll-create-form.js"></script>
    
    <script>
        console.log("index.ejs accessed");
    </script>
</footer>

</body>
</html>