<!DOCTYPE html>
<html 
    lang="en" 
    xmlns="https://www.w3.org/1999/xhtml" 
    xmlns:og="https://ogp.me/ns#" 
    xmlns:fb="http://ogp.me/ns/fb#"
>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container-md px-0">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1 class="text-center display-2 heading">Cast your vote</h1>
        <p class="text-center display-6 mt-sm-1"><%=question%></p>
       
    </div>
<!--
    <div class="container-md px-0">
        <div id="takePollDiv" class="rounded px-2 mx-2 my-4 p-3">
            <div class="row">
                <div class="col m-2 p-2 d-flex align-items-center">
                    <button class="btn btn-secondary me-4" type="button">
                        Button2
                    </button>
                    <div class="takePollAnsDiv p-3 w-100 rounded d-inline-block">
                        <span>Answer here</span>
                    </div> -->

            <div id="takePollDiv" class="m-5 p-4 rounded">
            <% 
            answers.forEach(function(answer, index){ %>
                
                    <div class="row">
                        <div class="col-2">
                            <button class="btn ansButt btn-secondary d-inline-block mb-4" 
                            type="button"
                            data-index="<%-index%>""
                            >
                                Choose
                            </button>
                        </div>
                        <div class="col">
                            <div id="ansDiv<%-index%>" 
                                data-index="<%-index%>" 
                                class="takePollAnsDiv w-100 p-2 rounded d-inline-block"
                            >
                            <span><%=answer%></span>
                        </div>
                    </div> <!-- end row -->
                

            <% }); %>
            </div> <!-- end takePollDiv -->

            <div class="text-center">
                <form action="/results/<%=pollID%>" method="POST">
                    <input name="voteIndex" type="hidden">
                    <button type="submit" id="submitButton" class="btn-primary disabled hidden btn voteBtn mt-4">
                        Submit vote
                    </button>    
                </form>
            </div>
           

        </div><!-- end takePollDiv-->
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
     <script>
                $('.ansButt').click(function(e){
                    e.preventDefault();
                    let vote = $(this).data('index');
                    console.log("index: " + vote);
                    const ansDivId = "#ansDiv" + vote;
                    console.log("ansDivId: "  + ansDivId); 
                    $('.takePollAnsDiv').removeClass('highlightAns');
                    $(ansDivId).addClass('highlightAns');

                  
                    $('input[name="voteIndex"]').val(vote);
                    $('#submitButton').removeClass('disabled hidden').addClass('d-inline-block');
                });
            </script>


    <script>
        console.log("poll.ejs accessed")
    </script>
    <script>

</script>
</footer>

</body>
</html>