<!DOCTYPE html>
<html 
    lang="en" 
    xmlns="https://www.w3.org/1999/xhtml" 
    xmlns:og="https://ogp.me/ns#" 
    xmlns:fb="http://ogp.me/ns/fb#"
>
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/pollCreated.css">

</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1 class="text-center display-2 p-5">PollCall</h1>
        <p class="text-center display-6 mt-sm-1">Your poll was created!</p>
        <p>
            pollId: <%= pollId %> 
        </p>
        <p>
            poll: <%- poll %>
        </p>
    </div>
    
    
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>