<!DOCTYPE html>
<html 
    lang="en" 
    xmlns="https://www.w3.org/1999/xhtml" 
    xmlns:og="https://ogp.me/ns#" 
    xmlns:fb="http://ogp.me/ns/fb#"
>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <p>Here's the question: <%= question %></p>
        <p>And the answers: <%= answers %></p>
        <p>And the pollID: <%= pollID %></p>

        <form method="POST" action="/results/<%pollID%>?voted=true">
            <button class="btn">Nothing yet</button>
        </form>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
    <script>
        console.log("poll.ejs accessed")
    </script>
</footer>

</body>
</html>