<!DOCTYPE html>
<html 
    lang="en" 
    xmlns="https://www.w3.org/1999/xhtml" 
    xmlns:og="https://ogp.me/ns#" 
    xmlns:fb="http://ogp.me/ns/fb#"
>
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/3rd-party/jquery.dataTables.css">

    <meta property="og:type" content="article" /> 
    <!-- Use this for subpages  <meta property="og:type" content="article" /> -->
    <meta property="og:url" content="https://poll-call.herokuapp.com/results/<%=pollID%>" />
    <meta property="og:title" content="PollCall Results - <%= question %> " />
    <meta 
        property="og:description" 
        content="PollCall Poll Results, '<%= question %>' - PollCall lets you easily create polls and share them for voting - all without logging in." 
    /> 
    <!-- suggested size 1200x627 -->
    <% let resultsImgUrl = "https://poll-call.herokuapp.com/results/img/" + pollID + ".png?id=" + Math.random(); %>
    <meta property="og:image" content="<%-resultsImgUrl%>" />
    <!-- 
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    -->
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="PollCall poll results pie chart" />
    <meta property="og:site_name" content="PollCall">
</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron text-center">
        <% if(locals.dupVote == true){ %>
            <h1 class="heading">You've already voted once!</h1>
        <%}%>
       
        <% if (voted) { %>
            <h1 class="heading">Thanks for voting!</h1>
            <h1 class="text-center display-2 heading">Thanks for voting!</h1>
        <%} else { %>
            <h1 class="text-center display-2 heading mb-5">Poll results</h1>
        <% } %>
        <div class="row mb-3">
            <div class="col text-center">
                Total votes cast: <%-totalVotes%>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <%=question%>
            </div>
        </div>
            <!-- < include('../partials/resultsLegend'); %> -->
        </div>
    </div> <!-- end jumbotron-->
    <div class="container-md">
        <table id="resultTable" class="table table-striped w-100">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Answer</th>
                    <th># Votes</th>
                    <th>% of Votes</th>
                </tr>
            </thead>
            <tbody>
                <% answers.forEach((answer, index) => { %>
                    <tr>
                        <td>
                            <h3><span class="badge badge-pill badge-primary" style="background-color: '<%=answerColors[index]%>'">
                                <%- String.fromCharCode(65 + index) %>
                            </span></h3>
                        </td>
                        <td><%=answer%></td>
                        <td><%=votes[index]%></td>
                        <td><%= Math.round(round(votes[index]/totalVotes, 2)*100) %>%</td>
                    </tr>
            <%    }); %>
            </tbody>
            <tfoot>
            </tfoot>
        </table>



    </div>

    <div class="mt-4 resultChart mb-4">
        <img class="img-fluid" src="/results/img/<%=pollID%>.png">
    </div>
    <hr class="mt-2 mb-2">
    
    <div class="resultChart mb-4">
        <img class="img-fluid" src="/results/bar-img/<%=pollID%>.png">

    </div>

    <%- 

        include('../partials/social-buttons',
        {
            shareTitle: "Poll Results - " + question,
            shareUrl: "https://poll-call.herokuapp.com/results/" + pollID,
            shareTweet: "Poll Results - " + question + 
            " - Create polls quickly & easily at PollCall!",
            shareSummary: "PollCall lets you create a poll and share it easily - all without registering or logging in.",
            shareHashtags: "#poll, #survey, #social, #vote, #graphs, #fun",
            shareHeading: "Share these results with your friends below!"
        }); 
    %>
</main>

<footer>
    <%- include('../partials/footer'); %>
    <script>
        console.log("results.ejs accessed")
    </script>
    <script type="text/javascript" charset="utf8" src="/js/3rd-party/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#resultTable').DataTable({
                "order": [[3, 'desc']],
                "searching": false,
                "paging": false,
                "info": false,
            });
        } );
    </script>

</footer>

</body>
</html>