<!DOCTYPE html>
<html 
    lang="en" 
    xmlns="https://www.w3.org/1999/xhtml" 
    xmlns:og="https://ogp.me/ns#" 
    xmlns:fb="http://ogp.me/ns/fb#"
>
<head>
    <%- include('../partials/head'); %>
    <meta property="og:type" content="article" /> 
    <!-- Use this for subpages  <meta property="og:type" content="article" /> -->
    <meta property="og:url" content="https://poll-call.herokuapp.com/results/<%=pollID%>" />
    <meta property="og:title" content="PollCall Results - <%= question %> " />
    <meta 
        property="og:description" 
        content="PollCall poll results for the question, '<%= question %>' - PollCall lets you easily create polls and share them for voting - all without logging in." 
    /> 
    <!-- suggested size 1200x627 -->
    <meta property="og:image" content="https://poll-call.herokuapp.com/results/img/<%=pollID%>.png" />
    <!-- 
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    -->
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="PollCall poll results pie chart" />
    <meta property="og:site_name" content="PollCall">
</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to the Results Page</p>
        <p>Here's the question: <%= question %></p>
        <p>And the answers: <%= answers %></p>
        <p>Here's the votes: <%= votes %></p>
        <p>And the pollID: <%= pollID %></p>

        <div class="mt-4 resultChart">
            <img class="img-fluid" src="/results/img/<%=pollID%>.png">
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
    <script>
        console.log("results.ejs accessed")
    </script>
</footer>

</body>
</html>